.summury-container {
  width: 100vw;
  height: auto;
  font-family: sans-serif;
}

.navigator {
  height: auto;
  width: 95vw;
  display: flex;
  gap: 0.2rem;
  margin: 0 auto;
  margin-top: 10px;
  flex-direction: column;
}

.navigator ul {
  display: flex;
  gap: 0.7rem;
  width: 100%;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: start;
}
.navigator ul i {
  margin-right: 0.7rem;
  font-size: 0.9rem;
  color: grey;
}
.navigator ul .home-img {
  font-size: 1rem;
}

.navigator .cashflow-forecast-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navigator .cashflow-forecast-nav .left p {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
}

.navigator .cashflow-forecast-nav .right .actions button {
  border: none;
  outline: none;
  color: rgb(70, 69, 69);
}

.main-container {
  height: auto;
  width: 95vw;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 95%;
  border-radius: 5px;
  align-items: stretch;
  font-family: sans-serif;
}

.container {
  height: inherit;
  width: 70vw;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-content: start;
  gap: 1rem;
  padding: 10px;
  flex-wrap: wrap;
  max-width: 95%;
  border-radius: 5px;
  align-items: stretch;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 4px 1px 12px;
}
.main-container .section {
  height: 143px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  border: 2px solid #02b29d;
}

.main-container .section .top-section {
  height: 50%;
  width: 90%;
  position: relative;
  border-bottom: 2px solid #02b29d;
}
.main-container .section .top-section .nescafe-img{
  position: absolute;
  top: 10px;
  left: 0px;
  height: 24px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}
.main-container .section .top-section .left {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  position: absolute;
  bottom: 6px;
}
.main-container .section .top-section .right {
  font-size: 0.9rem;
  font-weight: 500;
  color: grey;
  position: absolute;

  top: 12px;
  right: 2px;
}

.main-container .section .top-section .right .currency-selector {
  display: flex;
  gap: 2px;
  justify-content: baseline;
}
.main-container .section .top-section .right .currency-selector img {
  height: 22px;
  width: 33px;
}
.main-container .section .top-section .right .currency-selector select {
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
}
.main-container .section .bottom-section {
  height: 50%;
  width: 90%;
  display: flex;
  gap: 7rem;
  position: relative;
}
.main-container .section .bottom-section .left {
  margin-top: 10px;
}
.main-container .section .bottom-section .right {
  margin-top: 10px;
}
.main-container .section .bottom-section .left .id-string {
  margin-top: -10px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: black;
}

.main-container .section .bottom-section .right .id-string {
  margin-top: -10px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: black;
}

.container .box1,
.box2,
.box3 {
  height: 120px;
  flex-basis: 150px;
  flex-grow: 1;
  position: relative;
  margin: 2px;
  background-color: rgba(241, 239, 235, 0.726);
}

.container .box4 {
  height: 120px;
  flex-basis: 300px;
  flex-grow: 1;
  margin: 2px;
  position: relative;
  background-color: rgba(241, 239, 235, 0.726);
}

.container .box-data .inner-box {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .box-data .inner-box .heading {
  color: black;
  font-size: 0.7rem;
  font-weight: 500;
  position: absolute;
  top: 15px;
}

.container .box-data .inner-box .data {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}
.container .box-data .inner-box .bottom-box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.container .box-data .inner-box .inner-heading {
  color: black;
  font-size: 0.7rem;
  font-weight: 600;
}
.container .box-data .inner-box .lower-text {
  display: flex;
  gap: 4px;
}
.container .box-data .inner-box .lower-text img {
  height: 12px;
  width: 18px;
  margin-top: 3px;
}
.container .box-data .inner-box .lower-text p {
  font-size: 0.6rem;
}
.container .box-data .inner-box .heading-insight {
  color: black;
  font-size: 0.7rem;
  font-weight: 500;
  position: absolute;
  top: 15px;
  left: 10px;
}

.container .box4 .inner-box .bottom-box {
  height: 66%;
  width: 300px;
  /* padding: 0 20px; */
  overflow-y: auto;

}

.container .box4 .inner-box .bottom-box::-webkit-scrollbar{
  width: 2px;
}


.container .box4 .inner-box .bottom-box::-webkit-scrollbar-thumb{
    background-color: grey;
    /* box-shadow: inset 0 0 6px black; */
    
}

.fl-container {
  height: inherit;
  width: 95vw;
  
  display: flex;
  margin: 0 auto;

  margin-top: 30px;
  flex-wrap: wrap;
  max-width: 95%;
  border-radius: 5px;
  align-items: stretch;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 4px 1px 12px;
}
.fl-container .fl-box1,
.fl-box2,
.fl-box3 {
  height: 160px;
  flex-basis: 200px;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  
}

.fl-container .fl-box4 {
  height: 160px;
  flex-basis: 200px;
  flex-grow: 1;
  margin: 2px;
  position: relative;
}

.fl-container .fl-inner-box {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fl-container .fl-inner-box .fl-left-top {
  height: 60%;
  width: 90%;
  border-bottom: 1px solid grey;
  position: relative;
}
.fl-container .fl-inner-box .fl-left-top .heading {
  position: absolute;
  top: 10px;
  color: black;
  left: 0;
  font-size: 1rem;
  font-weight: 600;
}
.fl-container .fl-inner-box .fl-left-top .heading-bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 3px;
  gap: 4px;
  font-size: 0.7rem;
  left: 0;
  font-weight: 600;
}
.fl-container .fl-inner-box .fl-left-top .heading-bottom input {
  outline: none;
  border: none;
}
.fl-container .fl-inner-box .fl-left-bottom {
  height: 40%;
  width: 90%;
  margin-top: 20px;
  font-size: 0.8rem;
  color: grey;
}
.fl-container .fl-inner-box .fl-left-bottom span {
  color: black;
  font-weight: 600;
}

.fl-container .fl-box2 .fl-inner-box .fl-top {
  height: 20%;
  width: 90%;
}
.fl-container .fl-box2 .fl-inner-box .fl-top p {
  position: absolute;
  top: 10px;
  left: 15px;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}
.fl-container .fl-box2 .fl-inner-box .fl-bottom {
  height: 80%;
  width: 90%;
  margin-top: -12px;
  display: flex;
  align-items: center;
}

.fl-container .fl-box3 .fl-inner-box .fl-top {
  height: 20%;
  width: 90%;
}
.fl-container .fl-box3 .fl-inner-box .fl-bottom {
  height: 80%;
  width: 90%;
  margin-top: -12px;
  display: flex;
  align-items: center;
}
.fl-container .fl-box3 .fl-inner-box .fl-top p {
  position: absolute;
  top: 10px;
  left: 15px;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}
.fl-container .fl-box4 .fl-inner-box {
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: end;
}
.fl-container .fl-box4 .fl-inner-box .fl-heading {
  position: absolute;
  top: 18%;
  left: 6%;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}

.fl-container .fl-box4 .fl-inner-box .fl-links {
  height: 68%;
  width: 100%;
  display: flex;
  text-decoration: underline;
  color: rgb(32, 196, 196);
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
}
.fl-container .fl-box4 .fl-inner-box .fl-links::-webkit-scrollbar {
  width: 2px;
}
.fl-container .fl-box4 .fl-inner-box .fl-links::-webkit-scrollbar-thumb{
  background-color: grey;
  /* box-shadow: inset 0 0 6px black; */
  
}
.fl-container .fl-box4 .fl-inner-box .fl-links a {
 margin-left: 7%;
}


#donutChart1 {
 
  margin: 0 auto; /* Centering */
}

.image{
  height: 185px;
  width: 185px;
  position: absolute;
  background-color: rgba(177, 255, 255, 0.37);
  border-radius: 50%;
  right: -35px;
  bottom: -50px;
}
.image1{
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: rgba(177, 255, 255, 0.37);
  border-radius: 50%;
  left: 2px;
  top: -30px;
}
.account-details {
  width: 95vw;
  margin: 0 auto;
  height: 50px;
  margin-top: 10px;
  
}
.account-details .account-row{
  display: flex;
  height: inherit;
 
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.account-details .account-row .account-text{
  display: flex;
  gap: 0.4rem;
  font-weight: 600;
  color: black;
}
.account-details .account-row .search-box {
  height: 30px;
  width: 320px;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid black;
  transition: border-color 0.3s ease;
}

.account-details .account-row .search-box .home-img {
  margin-left: 6px;
}

.account-details .account-row .search-box .search-input {
  border: none;
  outline: none;
}

.account-details .account-row .search-box .search-input:focus {
  outline: none;
}

.account-details .account-row .search-box:focus-within {
  border-color: rgb(32, 196, 196);
  transition: all 0.1s ease-in;
}

.details-container{
    width: 95vw;
    margin: 0 auto;
    height: auto;
   
}
.details-container ul {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-direction: column;
 gap: 0.6rem;
}
.details-container .details-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  
  padding: 0 10px;
  box-shadow: 
  rgba(0, 0, 0, 0.137) 0px 2px 12px, 
  rgba(0, 0, 0, 0.137) 0px -2px 12px;
}
.details-container .details-nav .details-id{
  font-size: 0.9rem;
  font-weight: 500;
}
.id-value{
  font-size: 0.73rem;
  padding: 1px 2px;
  border-radius: 2px;
  background-color: rgba(127, 255, 212, 0.562);
}
.details-list{
  display: flex;
  flex-direction: column;
  
}
.opening-balance{
font-size: 0.73rem;
display: flex;
align-items: center;
gap: 5px;
}
.show-details{
  display: flex;
  height: auto;
  padding: 20px 0;
  border: 1px solid red;
}

.view-details-text{
  color: rgb(22, 185, 131);
  transition: all 0.2s ease-in;
}
.view-details-text:hover{
  scale: 1.03;
}
.view-details{
  cursor: pointer;
}
.opening-balance span{
  font-size: 0.9rem;
  font-weight: 600;
}
.closing-balance{
  font-size: 0.73rem;
  display: flex;
  align-items: center;
  gap: 5px;
  }
  .closing-balance span{
    font-size: 0.9rem;
    font-weight: 600;
  }
.details-container .details-nav .detail-id-balance{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.details-container .details-nav .detail-id-balance .border{
  height: 20px;
  border: 1px solid grey;
}
.details-container .details-nav .view-details{
  display: flex;
  align-items: center;
  gap: 1rem;
}


@media only screen and (max-width: 1343px) {
  .container {
    width: 95vw;
  }
}